body {

  top: 0;
  left: 0;
  right: 0px;
  z-index: 10;
  overflow-x: hidden;
}

body {

  background-image: linear-gradient(to right, #00eeff 0, #006eff 100%);
  background: cover;
}







footer {
  background-color: rgba(0, 0, 0, 0.589);
  color: rgba(255, 255, 255, 0.63);
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.row {
  display: flex;
  flex-wrap: wrap;

}

.col-md-4 {
  flex: 1;
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  line-height: 1.5;

}

ul {
  list-style: none;
  padding: 0;

}

li {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;

}

.social-icons {
  display: flex;
  align-items: center;

}

.social-icons li {
  margin-right: 10px;

}

.social-icons i {
  font-size: 30px;
  color: #16e3fe;

}

.copyright {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.37);
  padding: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;


}


#jam {

  color: rgba(0, 0, 0, 0.555);
  font-size: 0px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#tanggal {
  text-align: center;
  color: rgba(0, 0, 0, 0.596);
  font-size: 0px;


}






h3 {
  text-align: center;
  color: #ffffff85;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a4;
  z-index: 9999;
}

/* Loading bar */
.loading-bar {
  width: 0%;
  height: 4px;
  background-color: #00ff08;
  animation: loading 2s linear;
}

/* Loading logo */
.preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 116px;
  animation: loading-logo 2s ease-in-out;
}

/* Loading animation */
@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* Loading logo animation */
@keyframes loading-logo {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.preloader-finish {
  display: none;
}


#logo {
  margin-left: 10px;
  width: 70px;
  height: 50px;
  
}






input[type="text"] {
  width: 10px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px;
}

select {
  width: 40px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(255, 251, 251);
}



#hasil {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  padding: 20px;
}






#message {
  font-family: cursive;
  font-size: 15px;
  display: block;
  margin: 0 auto;



  color: #00ffea;
}






.card:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.438);
}


h5 {
  color: #ffffff;
}

h4 {
  color: #000000;
}

h2 {
  color: rgb(0, 132, 255);
}






body {

  overflow-x: hidden;

  font-family: Arial, sans-serif;
  text-align: center;
}


h1 {
  margin-top: 50px;
}





label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 20px;
}

input[type="text"],
input[type="date"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

button[type="button"] {
  padding: 5px 20px;

  background-color: #00000069;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button :hover {
  transform: scale(1.2);
}

button[type="button1"] {
  background-color:rgba(0, 0, 0, 0.795);
  color: white;
  padding: 5px 20px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type="button11"] {
  background-color: rgba(0, 0, 0, 0.356);
  color: white;
  padding: 5px 20px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type="button11"] {
  margin: 5px;
}

button[type="button2"] {
  background-color: rgba(0, 0, 0, 0.795);
  color: white;
  padding: 5px 20px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#output {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin: 50px 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.795);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}









header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 10;
}

.header-nav-container-2 {
  margin-right: 50px;
  display: flex;

  align-items: center;
}

.header-nav-container {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.header-nav-left {

  margin-left: 50px;
  display: flex;
  align-items: center;
}



.header-nav-right a {
  margin-left: 15px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.486);
  text-decoration: none;


}

#header-nav {
  background-color: rgb(255, 255, 255);
  transition: background-color 1s;
}



#widget-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: rgba(5, 5, 5, 0.24);
  color: #fff;
  border-radius: 10px;
}



#widget-container-2 {


  padding: 10px 10px;


}

#clock {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time {
  font-size: 26px;
  margin-bottom: 5px;
}

#date {
  font-size: 13px;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location {
  font-size: 9px;
  margin-bottom: 5px;
  margin-top: 7px;
}

#temperature {
  font-size: 18px;
  margin-bottom: 5px;
}

#condition {
  font-size: 9px;
}

#timer {
  width: 120px;
  height: 230px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  /* membuat latar belakang transparan */
  color: #fff;
  margin-left: 5px;

  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /* membuat bayangan transparan */
  animation: fadeIn 1s ease-in-out;
  /* membuat animasi fade-in */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}






.calculator {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #37ff0f77;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: bounceIn 0.5s ease-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  60% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

form {

  padding: 30px;
}

#riyad {
  padding: 30px;
}

input[type="number"] {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  
}

input[type="number"]:focus {
  box-shadow: 0 0 10px #1ebdb5;
}

select {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}

select:focus {
  box-shadow: 0 0 10px #7f7f7f;
}

input[type="submit"] {
  width: 23%;
  height: 34px;
  border: none;
  border-radius: 5px;
  font-size: 1x;
  background-color: (0, 0, 0, 0.795);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.795);
}

h7 {
  text-align: center;
  color: #f2f2f2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#result {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  text-align: center;
  color: #f2f2f2;
  margin: 50px 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.795);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
  animation: slideIn 4s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}





h3 {
  text-align: center;
  margin: 10px 0;
}




/*card*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-radius: 10px;


}

.card {
  width: 350px;
  height: 400px;
  margin-top: 10px;
  margin-left: 10px;


}


.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;

}

.card-description {
  margin: 5px;
  padding: 5px;
  overflow-y: auto;
  max-height: 150px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.144);
}

.card-description::-webkit-scrollbar {
  width: 1px;
  background-color: #ffffff;
}

.card-description::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}


.card-actions {
  position: relative;
  display: inline-block;
}

.card-actions .menu-button {
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  line-height: 35px;
}

.card-actions .menu-container {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: none;
}


.card-actions .menu-container a {
  display: block;
  padding: 50px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 40px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: calc(33.33% - 40px);
  }
}

@media (min-width: 1025px) {
  .card {
    width: calc(16.66% - 40px);
  }
}

.whatsapp-button,
.shop-button {
  font-size: 12px;
  background-color: #00bfa6;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
}

.whatsapp-button:hover,
.shop-button:hover {
  background-color: #2da192;
}

.shop-button {
  position: relative;
  overflow: hidden;
  margin: 5px;

}

.shop-button::before {

  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000048;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.shop-button:hover::before {
  top: 0;
}





#menuContainer {
  font-size: 30px;
  position: absolute;
  top: 35px;
  right: -60px;
  background-color: rgba(0, 255, 34, 0);
  padding: 10px;
  border-radius: 50% 50% 0 50%;
  transform: translate(0, -100%);
  transition: all 1s ease-in-out;
  z-index: 2;
}

#menuContainer a {
  display: block;
  padding: 10px;
  text-align: center;
}


#menuContainer {
  position: absolute;
  top: 35px;
  right: -60px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 50% 50% 0 50%;
  transform: translate(0, -100%);
  transition: all 0.6s ease-in-out;
  z-index: 2;
}

#menuContainer a {
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  margin: 5px;
}

#menuButton:hover+#menuContainer {
  transform: translate(0, -100%) scale(1);
}




#gambar-shopee {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}


.card-container-baru2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0ef51a3a;
  border-radius: 10px;
  overflow-x: scroll;
  height: 450px;
  width: limit-value;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {

  background-color: lightgray;
  border-radius: 10px;
}


.card-container-baru3 {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #003cff3a;
  border-radius: 10px;
  overflow-y: scroll;
  height: 440px;
  /* set height sesuai kebutuhan */
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 767px) {
  .card-container-baru2 {
    flex-direction: column;
    overflow-x: scroll;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.479);
  border-radius: 10px;
}


.tooltiptext {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  visibility: hidden;
  width: 150px;
  background-color: #e9a0a0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* warna kertas buku */
  color: rgb(255, 255, 255);
  /* warna font */
  text-align: center;
  border-radius: 20px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 2px 2px 10px #000000;
  /* shadow pada tooltip */
}

a:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.promo-price {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #00bfa6;
  text-decoration: line-through;


}

.discounted-price {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.discount-badge {
  font-size: 10px;
  width: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5622;
  color: #fff;
  padding: 3px 6px;
  border-radius: 50px;
}

.product {
  text-align: center;
  padding: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.product-title {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.product-code {
  font-size: 12px;
  font-weight: normal;
  color: #777;
}




.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(194, 28, 28);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #b60b0bcb;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Animasi modal */
.modal {
  animation-name: animasiModal;
  animation-duration: 0.5s;
}

@keyframes animasiModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(194, 28, 28);
  background-color: rgba(0,0,0,0.4);
}

.modal1-content {
  background-color: #b60b0bcb;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Animasi modal */
.modal1 {
  animation-name: animasiModal;
  animation-duration: 0.5s;
}

@keyframes animasiModal1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #883d3d00;
  overflow: hidden;
  margin-bottom: 30px;
}

.product-image {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 20px;
}

.banner-content {
  width: 80%;
  text-align: center;
  margin: 30px auto;
  color: #ffffff;
}

.banner-content h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  font-size: 36px;
  color: #00ffff;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.social-media a:hover {
  color: #007bff;
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .banner-content {
    width: 90%;
  }

  .banner-content h1 {
    font-size: 24px;
  }

  .banner-content p {
    font-size: 16px;
  }

  .product-image {
    width: 80%;
  }
}
