h1 {
    color: aqua;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    z-index: 10;
  }
  
  .header-nav-container-2 {
    margin-right: 50px;
     display: flex;
     
     align-items: center;
  }
  
  .header-nav-container {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
  }
  
  .header-nav-left {
   
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
  
  
  
  .header-nav-right a {
    margin-left: 15px;
    font-size: 30px;
    color: rgb(0, 255, 34);
    text-decoration: none;
  }
  
  #header-nav {
    background-color: rgb(255, 255, 255);
    transition: background-color 1s;
  }
  